*
!.gitignore
!Dockerfile
!docker-compose.yaml
!.dockerignore

!clab_prototype/

!clab_prototype/*
clab_prototype/__pycache__

!clab_prototype/assets
!clab_prototype/assets/*

!doc
!doc/assets
!doc/assets/*